# 苏宁业务数据库
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=

# 苏宁内部服务
SUNING_API_BASE_URL=
SUNING_API_KEY=

# MCP Server
MCP_HOST=127.0.0.1
MCP_PORT=8001

# 项目设置
LOG_LEVEL=INFO

# DeepSeek API Key
DEEPSEEK_API=
